[project]
name = "fg-forge-updater"
version = "1.1.2"
readme = "README.md"
requires-python = ">=3.10"
license = { file = "LICENSE" }
authors = [{ name = "bmos", email = "wil.thieme@protonmail.com" }]
urls = { Repository = "https://github.com/bmos/fg_forge_updater" }
dependencies = [
    "beautifulsoup4==4.12.3",
    "markdown==3.7",
    "matplotlib==3.9.2",
    "mdformat-gfm==0.3.6",
    "mdformat-frontmatter==2.0.8",
    "mdformat-footnote==0.1.1",
    "pandas==2.2.3",
    "python-dotenv==1.0.1",
    "seaborn==0.13.2",
    "selenium==4.25.0",
    "requestium==0.4.0"
]

[project.optional-dependencies]
dev = [
    "mypy==1.11.2",
    "pandas-stubs==2.2.3.241009",
    "polyfactory==2.17.0",
    "pre-commit==4.0.1",
    "pytest==8.3.3",
    "ruff==0.7.0",
    "types-beautifulsoup4==4.12.0.20240907",
    "types-Markdown==3.7.0.20240822",
    "types-seaborn==0.13.2.20241003"
]
github-actions = [
    "pytest-cov==5.0.0",
]

[tool.ruff]
line-length = 160

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]
extend-select = ["B", "W", "C"]
ignore = ["C400", "C401"]

[[tool.mypy.overrides]]
module = [
    "requestium"
]
ignore_missing_imports = true