[project]
name = "fg-forge-updater"
version = "1.0.2"
readme = "README.md"
requires-python = ">=3.9"
license = { file = "LICENSE" }
authors = [{ name = "bmos", email = "wil.thieme@protonmail.com" }]
urls = { Repository = "https://github.com/bmos/fg_forge_updater" }
dependencies = [
    "beautifulsoup4==4.12.3",
    "markdown==3.5.2",
    "mdformat-gfm==0.3.6",
    "mdformat-frontmatter==2.0.8",
    "mdformat-footnote==0.1.1",
    "python-dotenv==1.0.1",
    "selenium==4.17.2"
]

[project.optional-dependencies]
dev = [
    "polyfactory==2.14.1",
    "pre-commit==3.6.0",
    "pytest==8.0.0",
    "ruff==0.2.1"
]
github-actions = [
    "pytest-emoji==0.2.0",
    "pytest-md==0.2.0",
    "ydiff==1.2"
]

[tool.ruff]
line-length = 160

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]
extend-select = ["B", "W", "C"]
ignore = ["C400", "C401"]